:root { --p: #075e54; --bg: #ffffff; --txt: #000000; }
.dark-mode { --p: #121212; --bg: #1e1e1e; --txt: #ffffff; }

body { background: var(--bg); color: var(--txt); font-family: sans-serif; transition: 0.3s; margin: 0; }
.auth-box { padding: 40px; text-align: center; }
input { display: block; width: 90%; margin: 10px auto; padding: 12px; border-radius: 8px; border: 1px solid #ccc; }
button { padding: 10px 20px; cursor: pointer; border: none; background: var(--p); color: white; border-radius: 5px; }
.user-card { display: flex; justify-content: space-between; padding: 15px; border-bottom: 1px solid #555; }
#msgs { height: 70vh; overflow-y: auto; padding: 10px; }
